<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kyc.mapper.system.MenuMapper">
    <resultMap id="MenuResultMap" type="com.kyc.model.system.Menu">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
        <result column="component" property="component" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="iconCls" property="iconCls" jdbcType="VARCHAR"/>
        <result column="parentId" property="parentId" jdbcType="VARCHAR"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>
    </resultMap>

    <resultMap id="Menus2" type="com.kyc.model.system.Menu" extends="MenuResultMap">
        <collection property="children" ofType="com.kyc.model.system.Menu">
            <id column="id2" property="id" jdbcType="INTEGER"/>
            <result column="url2" property="url" jdbcType="VARCHAR"/>
            <result column="path2" property="path" jdbcType="VARCHAR"/>
            <result column="component2" property="component" jdbcType="VARCHAR"/>
            <result column="name2" property="name" jdbcType="VARCHAR"/>
            <result column="iconCls2" property="iconCls" jdbcType="VARCHAR"/>
            <result column="parentId2" property="parentId" jdbcType="INTEGER"/>
            <result column="enabled2" property="enabled" jdbcType="BIT"/>
            <association property="meta" javaType="com.kyc.model.system.Meta">
                <result column="keepAlive2" property="keepAlive" jdbcType="BIT"/>
                <result column="requireAuth2" property="requireAuth" jdbcType="BIT"/>
            </association>
        </collection>
    </resultMap>

    <resultMap id="MenuWithRole" type="com.kyc.model.system.Menu" extends="MenuResultMap">
        <collection property="roles" ofType="com.kyc.model.system.Role">
            <id column="rid" property="id"/>
            <result column="rname" property="name"/>
            <result column="rnamezh" property="namezh"/>
            <result column="rdesc" property="desc"/>
            <result column="rattr" property="attr"/>
            <result column="rupdateTime" property="updateTime"/>
        </collection>
    </resultMap>

    <select id="getMenusByUserId" resultMap="Menus2">
        select distinct m1.*,m2.`id` as id2,m2.`component` as component2,m2.`enabled` as enabled2,m2.`iconCls` as iconCls2,m2.`keepAlive` as keepAlive2,m2.`name` as name2,m2.`parentId` as parentId2,m2.`requireAuth` as requireAuth2,m2.`path` as path2 from kyc_menu m1,kyc_menu m2,kyc_user_role hrr,kyc_menu_role mr where m1.`id`=m2.`parentId` and hrr.`userId`=#{userId} and hrr.`roleId`=mr.`roleId` and mr.`menuId`=m2.`id` and m2.`enabled`=true order by m1.`id`,m2.`id`
    </select>

    <select id="getAllMenus" resultMap="MenuResultMap">
        select id, url, path, component, name, iconCls, keepAlive, requireAuth, parentId, enabled from kyc_menu;
    </select>

    <select id="getMidsByRid" resultType="java.lang.Integer">
        select menuId from kyc_menu_role where rolId=#{roleId};
    </select>

    <select id="getAllMenusWithRole" resultMap="MenuWithRole">
        select m.*,r.`id` as rid,r.`name` as rname,r.`namezh` as rnamezh, r.`attr` as rattr, r.`desc` as rdesc, r.`updateTime` as rupdateTime from kyc_menu m,kyc_menu_role mr,kyc_role r where m.`id`=mr.`menuId` and mr.`roleId`=r.`id` order by m.`id`;
    </select>

</mapper>