<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kyc.mapper.customer.CustomerManageMapper">
    <resultMap id="CustomerResultMap" type="com.kyc.model.customer.Customer">
        <id column="customerId" property="customerId" jdbcType="INTEGER"/>
        <result column="customerCode" property="customerCode" jdbcType="VARCHAR"/>
        <result column="industry" property="industry" jdbcType="VARCHAR"/>
        <result column="area" property="area" jdbcType="VARCHAR"/>
        <result column="customerType" property="customerType" jdbcType="BIT"/>
        <result column="customerLevel" property="customerLevel" jdbcType="BIT"/>
        <result column="recogStatus" property="recogStatus" jdbcType="BIT"/>
        <result column="channel" property="channel" jdbcType="BIT"/>
        <result column="createTime" property="createTime" jdbcType="VARCHAR"/>
        <result column="updateTime" property="updateTime" jdbcType="VARCHAR"/>
        <result column="pushStatus" property="pushStatus" jdbcType="BIT"/>
        <result column="customerStatus" property="customerStatus" jdbcType="BIT"/>
        <result column="customerMode" property="customerMode" jdbcType="BIT"/>
        <result column="uploadFile" property="updateFile" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="CustomerInfoResultMap" type="com.kyc.model.customer.CustomerInfo">
        <result column="customerInfoId" property="customerInfoId" jdbcType="INTEGER"/>
        <result column="bussinessLicense" property="bussinessLicense" jdbcType="VARCHAR"/>
        <result column="uscCode" property="uscCode" jdbcType="VARCHAR"/>
        <result column="startTime" property="startTime" jdbcType="VARCHAR"/>
        <result column="endTime" property="endTime" jdbcType="VARCHAR"/>
        <result column="longTerm" property="longTerm" jdbcType="BIT"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="district" property="district" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="idType" property="idType" jdbcType="BIT"/>
        <result column="idFront" property="idFront" jdbcType="VARCHAR"/>
        <result column="idBack" property="idBack" jdbcType="VARCHAR"/>
        <result column="telNum" property="telNum" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="BIT"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="attachment" property="attachment" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="KycCustomerResultMap" type="com.kyc.model.customer.KycCustomer">
        <association property="customer" resultMap="CustomerResultMap"/>
        <association property="customerInfo" resultMap="CustomerInfoResultMap"/>
    </resultMap>

    <select id="listCustomerManageInfo" parameterType="com.kyc.model.customer.Customer" resultType="java.util.Map">
        select kc.id customerId, kc.customerCode customerCode, kc.customerName customerName, kc.area area, kc.customerStatus customerStatus, kc.recogStatus recogStatus,
        kc.createTime createTime, kc.channel channle, kmr.termRecog termRecog, kc.uploadFile uploadFile from kyc_customer kc join kyc_customer_relation kcr
        join kyc_customer_info kci join kyc_manage_relation kmr on kc.id=kcr.customerId and kcr.customerInfoId=kci.id and kmr.customerId=kc.id
        where 1=1
        <if test="customer!=null">
            <if test="customer.customerCode!=null and customer.customerCode!=''">
            and kc.customerCode=#{customer.customerCode}
        </if>
            <if test="customer.industry!=null and customer.industry!=''">
                and kc.industry=#{customer.industry}
            </if>
            <if test="customer.customerLevel!=null and customer.customerLevel!=''">
                and kc.customerLevel=#{customer.customerLevel}
            </if>
            <if test="customer.customerStatus!=null and customer.customerStatus!=''">
                and kc.customerStatus=#{customer.customerStatus}
            </if>
            <if test="customer.startTime!=null and customer.startTime!=''">
                and kc.createTime &gt; #{customer.startTime}
            </if>
            <if test="customer.endTime!=null and customer.endTime!=''">
                and kc.createTime &lt; #{customer.endTime}
            </if>
            <if test="customer.customerName!=null and customer.customerName!=''">
                and kc.customerName like concat('%', #{customer.customerName}, '%')
            </if>
            <if test="customer.area!=null and customer.area!=''">
                and kc.area=#{customer.area}
            </if>
            <if test="customer.customerType=null and customer.customerType!=''">
                and kc.customerType=#{customer.customerType}
            </if>
            <if test="customer.channel!=null and customer.channel!=''">
                and kc.channel=#{customer.channel}
            </if>
            <if test="customer.recogStatus!=null and customer.recogStatus!=''">
                and kc.recogStatus=#{customer.recogStatus}
            </if>
            <if test="customer.idNum!=null and customer.idNum!=''">
                and kci.idNum=#{customer.idNum}
            </if>
            <if test="customer.uscCode!=null and customer.uscCode!=''">
                and kci.uscCode=#{customer.uscCode}
            </if>
        </if>
    </select>

    <insert id="validCustomerStatus">
        insert into kyc_manage_relation(`customerId`, `termRecog`, `listId`) values
        <foreach collection="list" item="map" separator=",">
            (#{map.customerId}, #{map.termRecog}, #{map.listId})
        </foreach>
    </insert>

    <delete id="unvalidCustomerStatus">
        delete from kyc_manage_relation where customerId
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <!--<select id=""-->
</mapper>